/* Estilo personalizado para la fuente Poppins */
body {
    font-family: 'Poppins', sans-serif;
}

/* Efecto sutil en hover para tarjetas de servicio */
.service-card:hover {
    transform: translateY(-5px); /* Mueve la tarjeta 5px hacia arriba */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Sombra más pronunciada */
}

/* Estilo para el contenedor del logo Lottie */
#lottie-logo {
    height: 78px; 
}

/* Puedes añadir más reglas CSS personalizadas aquí */